#work-space-component {
    background-color: #172952;
    // border-bottom: 1px solid #c6d1f357;
    height: 50px;

    &:hover {
        background-color: #c6d1f357;
    }

    .work-space-name {
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }
}