.navbar {
    background-color: #172952;
}

.search-button {
    background-color: #172952d1 !important;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.search-button:hover {
    background-color: #172952 !important;
}

.online-status-box {
    height: 10px;
    width: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 80%;
    top: 80%;
    border-radius: 10px;
}

.online {
    background-color: green;
    border: 1px solid var(--bs-white);
}

.away {
    border: 2px solid var(--bs-white);
}