#app-layout {
  font-family: Poppins;
}

.resizer {
  width: 2px;
  height: 100vh;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#main-content {
  &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
      background-color: rgba(16, 14, 14, 0.198);
      border-radius: 3px;

      &:hover {
          background: rgba(16, 14, 14, 0.385);
      }
  }

}