.spinner-container {
    position: absolute;
    flex: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000b8;
    display: flex;
    align-items: center;
    justify-content: center;
}