#accordion-header {
    &.accordion-header-row {
        .caret-right-icon-container {
            height: 25px;
            width: 25px;
            border-radius: 5px;

            &:hover {
                background-color: #92a4c89c;
            }
            .caret-right-icon {
                -moz-transition: all .2s linear;
                -webkit-transition: all .2s linear;
                transition: all .2s linear;

                &.down {
                    -moz-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }

        }

        .accordion-header-title {
            width: calc(100% - 50px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding-left: 5px;
            user-select: none;
        }

        .add-icon-container {
            height: 25px;
            width: 25px;
            border-radius: 5px;

            &:hover {
                background-color: #92a4c89c;
            }
        }
    }
}