.google-button {
    border: 2px solid var(--bs-gray-600);
    background-color: var(--bs-light);
    color: var(--bs-dark);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--bs-gray-600);
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--bs-gray-400);
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}