#side-menu {
    background-color: #172952;
    border: 1px solid #c6d1f357;
    border-left: 0;
    border-right: 0;
    height: 100vh;
    position: relative;

    p,
    span {
        color: #c4d2f3;
        font-size: 0.9rem;
    }

    .text {
        color: #c4d2f3;
    }

    #side-drawer {
        padding-bottom: 70px !important;

        &::-webkit-scrollbar {
            width: 0.5em;
            height: 0.5em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.198);
            border-radius: 3px;

            &:hover {
                background: rgba(255, 255, 255, .2);
            }
        }

        &.menu {
            background-color: #172952;
            border: 1px solid #c6d1f357;
            border-left: 0;
            border-right: 0;
            height: calc(100vh - 50px);
            position: relative;
        }

        .accordion-item-row {
            padding-left: 25px !important;

            // background-color: #942c2c;
            &:hover {
                background-color: #0e1e43;
            }

            &.selected {
                background-color: #942c2c;

                &:hover {
                    // background-color: blue !important;
                    pointer-events: none;
                }
            }

            .avatar-image-container {
                width: 25px;
                height: 25px;
            }

            .accordion-header {
                flex-direction: row;
                display: contents;
            }

            .accordion-header-title {
                width: calc(100% - 25px);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                user-select: none;
            }

            .close-icon-container {
                height: 25px;
                width: 25px;
                border-radius: 5px;
            }

        }
    }

}